.app-wrapper{
  display: grid;
  grid-template-areas: "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 1200px;
  margin: 0 auto;
}

.content img{
  width: 100%;
  height: 200px;
}

#ava{
  width: 100px;
  height: auto;
}

.app-wrapper-content{
    grid-area: c;
    background-color: rgb(228, 228, 228);
}
/*
.app-wrapper-content img{
  width: 100%;
  height: 200px;
}*/