
.content{
    grid-area: c;
    background-color: rgb(166, 199, 166);
    
  }
.item{
    color: greenyellow;
}


.content img{
  width: 100%;
  height: 200px;
}

#ava{
  width: 100px;
  height: auto;
}

