
.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}


.dialogItems .dialog{
    padding: 10px;
    color: white;

}

.dialogItems .active{
    color: rgb(97, 97, 99);
}


.messages .message{
    color: white;
}